@import "../../styles/variables.css";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
    color: var(--color-black);
    text-transform: capitalize;
}

.footer_light {
    background-color: var(--color-white);
}

.footer_dark {
    background-color: var(--color-gray-theme);
}
