@import "../../styles/variables.css";

.buttonHire {
    font-size: 16px;
    padding: 16px 57px 16px 32px;
    position: relative;
    background-color: var(--color-orange);
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    transition: all .3s;
}

.buttonHire::after {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("images/arrow-black.svg") no-repeat;
    margin-left: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}

.buttonHire:hover {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: var(--color-white);
}

.buttonHire:hover::after {
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("images/arrow-white.svg") no-repeat;
    margin-left: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
