@import "../../styles/variables.css";

.rightPanel {
    width: 108px;
    min-height: 100vh;
}

.rightPanel_light {
    background-color: var(--color-white);
}

.rightPanel_dark {
    background-color: var(--color-gray-theme);
}
