@import "../../styles/variables.css";

.button {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    position: relative;
    background-color: var(--color-orange);
    text-transform: uppercase;
    transition: .3s;
}

.button:hover {
    color: var(--color-white);
}
