:root {
    --color-white: #FFFFFF;
    --color-gray-light: #F0F0F6;
    --color-gray-theme: #d1d0cf;
    --color-gray: #E4E6EB;
    --color-dark-gray: #767676;
    --color-orange: #FFB400;
    --color-black: #2B2B2B;
}
