@import "../../styles/variables.css";

.experience {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mainInfo {
    width: 100%;
    min-height: 500px;
    background-color: var(--color-white);
    padding: 40px;
}

.titleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 45%;
    margin: 0 auto;
}
