@import "../../styles/variables.css";

.mainInfo {
    width: 100%;
    min-height: 500px;
    background-color: var(--color-white);
    padding: 40px;
}

.titleInfo {
    width: 438px;
    margin: 0 auto 50px;
}
