@import "../../styles/variables.css";

.portfolio {
    width: 100%;
    min-height: 700px;
}

.portfolioWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
