@import '../../styles/variables.css';

.container {
    width: 1440px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-gray-light);
}
.inner {
    width: 970px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

